voice_ai_agent_with_outbounds_calls_to_client_for_appointments_synced_with_google_calander.json
{
  "name": "voice ai agent with outbounds calls to client for appointments synced with google calander",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c7426e2c-478e-4c8a-a971-c2939c3aacba",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "b5874716f71fdcb69a53c1cf09e3e55b27cb797120ac79e04476f80987fcf7c3@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "testing"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus( 24 'hours' ) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        220,
        0
      ],
      "id": "02ee2124-472b-4b72-8712-f3ce9e18f8fc",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Lf9PX2Uxw7qiKjV0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Appointment Description: {{ $json.description }}\nStart Time : {{ $json.start.dateTime }}\n\nEnd Time : {{ $json.end.dateTime }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an assistant. Generate structured JSON object with the following fields:\n\nName : Full name of recipient\n\nphone_number: Phone number as a string\n\nreason: Reason for the appointment\n\nstart_time: Start time in ISO 8601 date-time format\n\nend_time: End time in ISO 8601 date-time format\n\nemail: Email address of the recipient\n\nReturn the output only in valid JSON format.Do not include any additional texts or comments."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "222b16ea-5858-46f0-b7df-9439f70ec227",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        240
      ],
      "id": "1b8ddc91-de97-4703-afa7-94c25283eb2d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lzGuvJJStftx5wH6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"Name\": {\n          \"type\": \"string\",\n          \"description\": \"Full name of the recipient\"\n        },\n        \"phone_number\": {\n          \"type\": \"string\",\n          \"description\": \"Phone number as a string, including country code\"\n        },\n        \"reason\": {\n          \"type\": \"string\",\n          \"description\": \"Reason for the appointment\"\n        },\n        \"start_time\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\",\n          \"description\": \"Start time in ISO 8601 date-time format\"\n        },\n        \"end_time\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\",\n          \"description\": \"End time in ISO 8601 date-time format\"\n        },\n        \"email\": {\n          \"type\": \"string\",\n          \"format\": \"email\",\n          \"description\": \"Email address of the recipient\"\n        }\n      },\n      \"required\": [\n        \"Name\",\n        \"phone_number\",\n        \"reason\",\n        \"start_time\",\n        \"end_time\",\n        \"email\"\n      ]\n    }\n  },\n  \"required\": [\"output\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        620,
        220
      ],
      "id": "ce0ea31e-369e-48a4-9bc4-efb6ca3ce031",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n{\n    \"from_number\": \"+18453283292\",\n    \"to_number\": \"+923091425838\",\n    \"retell_llm_dynamic_variables\": {\n        \"name\": \"{{ $json.output.Name }}\",\n        \"phone_number\": \"{{ $json.output.phone_number }}\",\n        \"reason\": \"{{ $json.output.reason }}\",\n        \"start_time\": \"{{ $json.output.start_time }}\",\n        \"end_time\": \"{{ $json.output.end_time }}\"\n    },\n    \"override_agent_id\": \"agent_38eecbb346d1fccaac6026ad0f\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "id": "3d2d05b1-f2a2-427f-9f2e-836c91ae7a4e",
      "name": "HTTP Request",
      "credentials": {
        "httpCustomAuth": {
          "id": "wrK71KFWlN5RFGUp",
          "name": "Custom Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1b51d7f-6a87-474d-addd-aa7c91120a56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55f3ef1435f7e2c8cabdb6de548858e9b8f654c0587ee50534f6a4934737cc6d"
  },
  "id": "M93vsS5FN69pFgCu",
  "tags": []
}